.env={https://pi.network.SIMCARD.service/a5e7f997155b1af3e0d66d641125631ff80fe4ffaf146d6290aa08de877711fb0d2b65dea55e165ebf1f20cc540cb689dfa0abe6166508bbd223b02ea4572322}
docker-data={https://pi.network.SIMCARD.service/security(networkforpi1)}
.DS_Store={Ds-store/worldwide.pimalls/onlinepistores}
order={order@all pi online stores/free f
delivery}
