# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=4kooxdm4q04jq78gx05wikxmmm1irkbmt4uuyr6xodor6yzbvdhkwvvnqrqvzoti


# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=844611a01eaa3fa239a36a25af4897e984c62cbf14cb1c36cfe9cfed4c1f47d65acd9f15bd262c20eb2019719192000df84dac6ecc6e3a6fb838ef8b4077c786

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
