# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=

# Get this on the Pi Developer Portal (https://develop.pinet.com in the Pi Browser)
PI_API_KEY=6ded00029e8845450e667f6b5e67e8a883021f25c37edca8038fd2ccdfc6448aa06ae0214d28b7c16f33a73ed882dda6e25f9f4376e246e8af1f46a50aa0c391

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
